#projects {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 72px 120px 144px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    samp {
      font: var(--subtitle);
      color: var(--red);
    }

    h2 {
      font: var(--title-md);
      color: var(--gray-600);
    }
  }

  #projects-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    place-content: center;
    gap: 24px;

    li {
      display: flex;
      flex-direction: column;
      padding: 12px;
      border-radius: 12px;
      background-color: var(--gray-300);
      gap: 20px;

      &:hover {
        outline: 1.5px solid var(--gray-400);
      }

      img {
        border-radius: 8px;
        object-fit: cover;
      }

      .project-info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h3 {
          font: var(--title-sm);
          color: var(--gray-600);
        }
      }
    }
  }
}